
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.idea/
/migrations/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

/.idea/php.xml

###> lexik/jwt-authentication-bundle ###
/config/jwt/private.pem
###< lexik/jwt-authentication-bundle ###
/html-coverage/
